*.swp
*.o
*.a
*.out

v7

conf/test_malloc
sys/unix
unix
root.img
boot/unix
boot/rootfs.img
boot/rootfs.img.tmp
nullboot
bin/
usr/adm/
usr/spool/
etc/accton
etc/atrun
etc/cron
etc/getty
etc/init
etc/update
etc/utmp
etc/mkfs
usr/dict/hlista
usr/dict/hlistb
usr/dict/hstop
usr/dict/spellhist
usr/dict/words
usr/games/arithmetic
usr/games/backgammon
usr/games/fish
usr/games/fortune
usr/games/hangman
usr/games/lib/fortunes
usr/games/quiz
usr/games/wump
usr/lib/crontab
usr/lib/diffh
usr/lib/makekey
usr/lib/spell
usr/lib/spellin
usr/lib/spellout
usr/lib/units
usr/src/tools/mkfs
usr/src/tools/minimkfs
usr/sys/conf/mkconf
usr/src/cmd/awk/awk.g.c
usr/src/cmd/awk/awk.h
usr/src/cmd/awk/awk.lx.c
usr/src/cmd/awk/awk.lx.tmp.l
usr/src/cmd/awk/proc
usr/src/cmd/awk/proc-token.o
usr/src/cmd/awk/proctab.c
*.elf
