*.swp
*.o
*.a
*.out

v7

conf/test_malloc
sys/unix
unix
root.img
bin/
usr/adm/
usr/dict/
usr/games/
usr/lib/
usr/spool/
etc/accton
etc/atrun
etc/auxfs
etc/cron
etc/getty
etc/init
etc/update
etc/utmp
etc/mkfs
usr/src/tools/mkfs
usr/src/tools/minimkfs
usr/sys/conf/c.c
usr/sys/conf/mkconf
*.elf
